
<div class="background">
   
    <div class="formbody">
       <div class="header">
        <h1>Create Category</h1>
       </div>
        <hr>
<form class="uk-grid-small form-group p-4" uk-grid>

    <div class="uk-width-1-2@s">
        
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Name</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-stacked-text" type="text" placeholder="EX:Ahmed...">
            </div>
        </div>

    </div>
    <div class="uk-width-1-2@s">
        

        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">English Name</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
            </div>
        </div>

    </div>
   
    <div class="uk-width-1-2@s">
        
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-select" >Select</label>
            <div class="uk-form-controls">
                <select class="uk-select " id="form-stacked-select" >
                    <option  >.....Please Select.....</option>
                    <option  >Option 01</option>
                    <option >Option 02</option>
                    <option >Option 03</option>
                    <option >Option 04</option>
                </select>
            </div>
        </div>

    </div>
    
    <div class="uk-width-1-2@s">
        
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-select">Order</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-stacked-text" type="text" placeholder="5">
            </div>
        </div>

    </div>
    <div class="uk-width-1-2@s">
        
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-select">Category</label>
            <div class="uk-form-controls">
                <textarea class="uk-textarea" rows="2" placeholder="EX:Enter ....."></textarea>
            </div>
        </div>

    </div>
    
    <div class="uk-width-1-1@s">
        
        <div class="uk-margin">
            <div class="uk-form-controls">
                <button class="uk-button uk-button-primary float-right">Save</button>
              </div>
        </div>

    </div>


    
</form>
    </div>
</div>

